.single-services
	display flex
	margin-top 2em
	.single-icon
		width 10em
		text-align center
		
		margin-top 1em
		padding-right 1em
		img
			height auto
	.news-title
		.title
			border-bottom solid 4px orange
