/* Small devices (tablets, 768px and up) */
@media (min-width 768px)
	header
		position absolute
		.container
			margin-top 1em
			.logo
				flex-basis 20%

	.main
		.wrapBox
			.box 
				flex-basis 50%
	.bottom
		.threboxContainer
			display flex
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
	.main
		.wrapBox
			.box 
				flex-basis 33.33%
/* Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) 